span.urlname {
  font-size: 0.8rem;
  color: #7D7D7D;
}

span.title {
  font-size: 1rem;
  color: #0E4749;
}
span.title:visited {
  color: #5F9D95;
}

.score strong {
  color: #79B791;
}

.by {
  font-size: 0.8rem;
  color: #0E4749;
}

.descendants {
  font-size: 0.8rem;
  color: #0E4749;
}

.timeago {
  font-size: 0.8rem;
  color: #7D7D7D;
}

.content.story {
  padding-left: 1vw;
  padding-top: 3vh;
}

nav.level.story-attributes{
  padding-left: 1vw;
  padding-top: 1vh;
}