.by {
  font-size: 0.8rem;
  color: #0E4749;
}

.descendants {
  font-size: 1rem;
  color: #0E4749;
}

.timeago {
  font-size: 0.8rem;
  color: #7D7D7D;
}

.text>pre{
  white-space: pre-wrap;
  background: #D1F0D9
}

pre a {
  color: blue;
  text-decoration: underline
}

.media-content {
  padding-left: 0.4vw;
}

.media .media {
  border-top: none
}

.media-content.comment {
  border-left: dashed 1px #CAC2B5;
  padding-left: 0.4vw;
}