.navbar-brand {
  color: #0E4749;
  font-size: x-large;
  font-weight: 700;
}

.navbar {
  background: #79B791;
  border: none;
}

.navbar-start > .navbar-item:hover {
  background: #0E4749;
  color: #FFFFFF;
  height: 100%;
}

.navbar-start {
  margin-left:2%;
}

.navbar-start > .navbar-item::after {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.button.login-button:hover {
  background: #0E4749;
  color: #FFFFFF;
  border: none;
}

.button.login-button {
  color: #0E4749;
  background: #79B791;
  border-color: #0E4749;
}

.button.logout-button {
  color: #0E4749;
  background: #79B791;
  border-color: #79B791;
}

.button.logout-button:hover {
  color: white;
  background: #0E4749;
  border-color: white;
}

.button.newpost-button {
  color: #0E4749;
  background: #17BEBB;
  border-color: #17BEBB;
}

.button.newpost-button:hover {
  color: #0E4749;
  background: #17BEBB;
  border-color: #0E4749;
}